.cContainer1 {
    margin: 0%;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    font-family: consolas;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

@media (width <=700px) {
    .cContainer1 {
        padding: 0;
        flex-direction: column;
    }
}

.cContainer1 .cCard {
    position: realtive;
    cursor: pointer
}

.cContainer1 .cCard .cFace {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.cContainer1 .cCard .cFace.cFace1 {
    position: relative;
    background: rgb(49, 119, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.cContainer1 .cCard:hover .cFace.cFace1 {
    background-image: #ff0057;
    transform: translateY(0);
}

.cContainer1 .cCard .cFace.cFace1 .cContent {
    opacity: 0.5;
    transition: 0.5s;
}

.cContainer1 .cCard:hover .cFace.cFace1 .cContent {
    opacity: 1;
}

.cContainer1 .cCard .cFace.cFace1 .cContent img {
    max-width: 100px;
}

.cContainer1 .cCard .cFace.cFace1 .cContent h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.cContainer1 .cCard .cFace.cFace2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.cContainer1 .cCard:hover .cFace.cFace2 {
    transform: translateY(0);
}

.cContainer1 .cCard .cFace.cFace2 .cContent p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.cContainer1 .cCard .cFace.cFace2 .cContent a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size: 1.5rem;
}

.cContainer1 .cCard .cFace.cFace2 .cContent a:hover {
    background: #333;
    color: #fff;
}





.cContainer2 {
    top: -10rem;
    margin: 0%;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    font-family: consolas;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

@media (width <=700px) {
    .cContainer2 {
        padding: 0;
        flex-direction: column;
    }
}

.cContainer2 .cCard {
    position: realtive;
    cursor: pointer
}

.cContainer2 .cCard .cFace {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.cContainer2 .cCard .cFace.cFace1 {
    position: relative;
    background: rgb(49, 119, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.cContainer2 .cCard:hover .cFace.cFace1 {
    background-image: #ff0057;
    transform: translateY(0);
}

.cContainer2 .cCard .cFace.cFace1 .cContent {
    opacity: 0.5;
    transition: 0.5s;
}

.cContainer2 .cCard:hover .cFace.cFace1 .cContent {
    opacity: 1;
}

.cContainer2 .cCard .cFace.cFace1 .cContent img {
    max-width: 100px;
}

.cContainer2 .cCard .cFace.cFace1 .cContent h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.cContainer2 .cCard .cFace.cFace2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.cContainer2 .cCard:hover .cFace.cFace2 {
    transform: translateY(0);
}

.cContainer2 .cCard .cFace.cFace2 .cContent p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.cContainer2 .cCard .cFace.cFace2 .cContent a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    font-size: 1.5rem;
}

.cContainer2 .cCard .cFace.cFace2 .cContent a:hover {
    background: #333;
    color: #fff;
}